body {
	font-family: Arial, sans-serif;
	background: #ddd;
}
a {
	color: #0099f3;
}
section {
	width: 480px;
	margin: 0 auto;
}
header h1 {
	color: #555;
	text-shadow: 1px 1px 1px #fff;
}
article h2 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}
article p {
	padding: 10px 10px 10px 50px;
	border: 1px solid #ccc;
	background: #ddd;
}
article p.loading {
	background: url(images/ajax-loader.gif) transparent no-repeat left top;
}
article p:hover {
	background: #eee;
}
article p span {
	font-size: 12px;
	color: #777;
}